.amenities {
	&__group-wrap {
		display: table;
		width: 100%;
	}

	&__group {
		float: left;
		width: 50%;

		&:first-child {
			border-right: 1px solid #E4E4E4;
		}

		&:last-child {
			border-left: 1px solid #E4E4E4;
			margin-left: -1px;

			@media (max-width: $bp_fluid) {
				margin-bottom: 0;
			}
		}

		@media (max-width:$bp_fluid) {
			width: 100%;
			background: rgba(#000, .02);
			border: 1px solid $black-10;
			margin-bottom: 20px;
		}
	}

	&__image {
		border-radius: 50%;
		width: 300px;
		margin: 0 auto;
		display: block;
		margin-bottom: 50px;
		border: 4px solid $black-10;

		@media (max-width: $bp_medium) {
			width: 200px;
			margin-bottom: 30px;
		}

		@media (max-width: $bp_fluid) {
			@include mv(30px, 20px);
		}
	}

	&__group-title {
		text-align: center;
		font-size: 3.5rem;
		font-style: italic;
		color: $c_secondary;
		font-weight: 300;
		padding-bottom: 40px;

		@media (max-width: $bp_large) {
			font-size: 3rem;
			padding-bottom: 30px;
		}

		@media (max-width: $bp_small) {
			font-size: 2.7rem;
		}

		@media (max-width: $bp_fluid) {
			font-size: 2.4rem;
			font-weight: 600;
			padding: 20px;
		}
	}

	&__item {
		position: relative;
		font-size: 1.6rem;
		color: $black-70;
		text-align: center;
		height: 75px;
		border-top: 1px solid $black-10;

		&--hidden {
			display: none;
		}

		@media (max-width: $bp_small) {
			font-size: 1.4rem;
		}

		@media (max-width: $bp_fluid) {
			height: initial;
			padding: 20px 0;
		}
	}

	&__text {
		@include align(center);
		width: 90%;

		@media (max-width: $bp_fluid) {
			@include align(none);
			width: 100%;
			padding: 0 20px;
		}
	}

	&__load-more {
		@extend %button-primary, %button-primary--centered;

		&--local {
			display: none;

			@media (max-width: $bp_fluid) {
				display: block;
				margin-top: 0;
				width: 100%;
			}
		}

		&--global {
			margin-top: 40px;

			@media (max-width: $bp_fluid) {
				display: none !important;
			}
		}
	}

	&__page-content {
		margin-top: 30px;
		padding-top: 30px;
		border-top: 1px solid $black-10;

		@media (max-width:$bp_fluid) {
			margin-top: 20px;
			padding-top: 20px;
		}
	}
}