.contact {
	&__row {
		@include clearfix();
		position: relative;
		display: table;
		width: 100%;
	}

	&__column {
		display: inline-block;
		width: calc(50% - 32px);
		vertical-align: top;

		@media (max-width: $bp_medium) {
			width: calc(50% - 22px);
		}

		@media (max-width: $bp_fluid) {
			width: 100%;
		}

		&--info {
			border: 1px solid $black-10;
			background: rgba(#000, .02);

			&:first-child {
				margin-right: 60px;

				@media (max-width: $bp_medium) {
					margin-right: 40px;
				}

				@media (max-width: $bp_fluid) {
					margin-right: 0;
					margin-bottom: 20px;
				}
			}
		}

		&--map {
			background: $c_secondary url(../images/backgrounds/map.png)no-repeat center center / cover;
			position: absolute;
			right: 0;
			top: 0;
			height: 100%;

			@media (max-width: $bp_fluid) {
				position: relative;
				height: 150px;
			}
		}
	}

	&__column--map:hover &__map-icon {
		width: 60px;
		@media (max-width: $bp_fluid) {
			width: 40px;
		}
	}

	&__map-content {
		@include align(center);
		width: 80%;
	}

	&__map-icon {
		@include transition(all, .2s);
		width: 40px;
		display: block;
		margin: 0 auto 20px auto;
	}

	&__map-text {
		color: #fff;
		font-size: 4rem;
		font-family: $f_secondary;
		font-weight: 400;
		text-align: center;
		text-transform: uppercase;
		letter-spacing: .1rem;

		@media (max-width: $bp_large) {
			font-size: 3rem;
		}

		@media (max-width: $bp_small) {
			font-size: 2.5rem;
		}

		@media (max-width: $bp_fluid) {
			font-size: 2rem;
		}

	}

	&__item {
		border-bottom: 1px solid $black-10;

		&--address {
			height: 158px;
			width: 100%;
			display: table;

			@media (max-width: $bp_fluid) {
				height: auto;
			}
		}

		&:last-child {
			border-bottom: 0;
		}
	}

	&__address-header {
		color: $c_secondary;
		font-weight: 700;
		font-size: 3rem;
		margin-bottom: 5px;

		@media (max-width: $bp_large) {
			font-size: 2.5rem;
		}

		@media (max-width: $bp_fluid) {
			font-size: 2rem;
		}
	}

	&__link {
		color: $black-70 !important;
		padding: 20px;
		display: block;
		font-size: 1.8rem;
		line-height: 3rem;
		font-family: $f_primary;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    @media (max-width: $bp_large) {
    	font-size: 1.6rem;
    }

    &--address {
    	display: table-cell;
    	vertical-align: middle;
    }

		&:hover {
			background: $black-05;
		}
	}

	&__form {
		margin-top: 60px;
		padding: 30px;
		background: rgba(0,0,0,.05);
		border: 1px solid $black-10;

		@media (max-width: $bp_large) {
			margin-top: 40px;
		}

		@media (max-width: $bp_fluid) {
			margin-top: 20px;
			padding: 15px;
		}
	}

	&__office-hour {
		display: table;
		width: 100%;
		table-layout: fixed;
		margin-top: 60px;
		background: rgba(#000, .02);
		border: 1px solid $black-10;

		@media (max-width: $bp_large) {
			margin-top: 40px;
		}

		@media (max-width: $bp_fluid) {
			margin-top: 20px;
			width: 100%;
		}

		&--alt {
			background: $c_primary;
			border: 0;
		}
	}

	&__office-hour-column {
		display: table-cell;
		vertical-align: middle;

		&--left {
			width: 40%;
			border-right: 1px solid $black-10;
			background: $black-80;
		}

		&--right {
			padding: 40px 85px;
			@media (max-width: $bp_large) {
				@include ph(60px);
			}
			@media (max-width: $bp_fluid) {
				padding: 20px;
			}
		}

		@media (max-width: $bp_fluid) {
			display: table;
			width: 100%;
		}
	}

	&__office-hour-header {
		font-size: 3rem;
		font-weight: 700;
		color: #fff;
		text-align: center;

		@media (max-width: $bp_fluid) {
			font-size: 2rem;
			border-bottom: 1px solid $black-10;
			padding: 20px 0;
		}

		&--alt {
			color: #fff !important; // -- Override color styles
			border-color: $white-40;
		}
	}

	&__office-hour-item {
		@include clearfix();
		width: 100%;
		border-bottom: 1px solid $black-10;
		margin-bottom: 15px;
		padding-bottom: 15px;

		&--alt {
			border-color: $white-40;
		}

		&:first-child {
			margin-top: 0;
		}

		&:last-child {
			border-bottom: 0;
			padding-bottom: 0;
			margin-bottom: 0;
		}
	}

	&__office-hour-content {
		font-size: 1.8rem;
		color: $black-60;

		@media (max-width: $bp_large) {
    	font-size: 1.6rem;
    }

		@media (max-width: $bp_fluid) {
			font-size: 1.4rem;
		}

		&--day {
			float: left;
		}

		&--time {
			float: right;
		}

		&--alt {
			color: #fff;
		}
	}

	&__form-wrap {
		background: rgba(#000, .02);
		border: 1px solid $black-10;
		margin-top: 60px;

		@media (max-width: $bp_large) {
			margin-top: 40px;
		}

		@media (max-width: $bp_fluid) {
			margin-top: 20px;
		}
	}

	&__form-wrap-container {
		padding: 40px;

		@media (max-width: $bp_fluid) {
			padding: 20px;
		}

		@media (max-width: $bp_fluid-small) {
			padding: 10px;
		}
	}

	&__form-header {
		width: 100%;
		padding: 20px;
		background: rgba(#000, .03);
		color: $black-50;
		border-bottom: 1px solid $black-10;
		text-align: center;
		font-size: 4rem;
		font-weight: 700;
		text-transform: uppercase;

		@media (max-width: $bp_large) {
			font-size: 3.5rem;
		}

		@media (max-width: $bp_medium) {
			font-size: 3rem;
		}

		@media (max-width: $bp_fluid) {
			font-size: 2rem;
		}
	}
}