/*
| -----------------------------------------------------
|  Listing Block
| -----------------------------------------------------
*/
.floorplan-listing {
	&__container {
		@extend %container;

		@media (max-width: $bp_fluid) {
			table-layout: fixed;
		}
	}

	&__table {
		display: table;
		width: 100%;
	}

	&__column {
		display: table-cell;
		vertical-align: middle;
		position: relative;

		&--left {
			@include bh(1px solid $black-10);
			width: 350px;

			@media (max-width: $bp_medium) {
				width: 280px;
			}

			@media (max-width: $bp_fluid) {
				width: 100px;
			}
		}

		&--right {
			padding-left: 40px;

      @media (max-width: $bp_small) {
        padding-left: 20px;
      }

			@media (max-width: $bp_fluid) {
				padding-left: 10px;
			}
		}
	}

	&__item {
		@include clearfix();
		border-top: 1px solid $black-10;
		width: 100%;

		@media (max-width: $bp_fluid) {
			@include listing-arrow();
			position: relative;
		}

		&--no-results {
			display: none;
			padding: 30px;
			background: $black-05;
		}

		&:first-child {
			border-top: 0;
		}

		&:nth-child(odd) {
			background: rgba(#000, .02);
		}

		&:hover {
			opacity: .8;
		}
	}

	&__no-results {
		font-size: 1.5rem;
		text-align: center;
		color: $c_tertiary;
		font-weight: 700;
		text-transform: uppercase;

		@media (max-width: $bp_fluid) {
			font-size: 1.1rem;
		}
	}

	&__filter {
		@extend %container;
		padding: 40px 0;

		@media (max-width: $bp_fluid) {
			padding: 20px;
		}
	}

	&__filter-field {
		border: 1px solid $black-20;
	}

	&__image-wrap {
		@include bh(1px solid $black-10);
		position: relative;
		width: 350px;
		float: left;

		@media (max-width: $bp_medium) {
			width: 280px;
		}

		@media (max-width: $bp_fluid) {
			display: table-cell;
			vertical-align: middle;
			float: none;
			width: 100px;
		}
	}

	&__image {
		width: 100%;
		float: left;
	}

	&__sold-out {
		@include align(vertical);
		background: $black-80;
		width: 100%;
		text-align: center;
		font-size: 1.8rem;
		font-family: $f_secondary;
		letter-spacing: .1rem;
		font-weight: 300;
		text-transform: uppercase;
		color: #fff;
		padding: 15px 0;

		@media (max-width: $bp_fluid) {
			font-size: 1rem;
			padding: 3px 0 5px;
			background: $black-70;
		}
	}

	&__details {
		@include clearfix();
		@include pv(74px);
		padding-left: 40px;
		margin-left: 351px;

		@media (max-width: $bp_medium) {
			@include pv(74px);
			padding-left: 20px;
			margin-left: 281px;
		}

		@media (max-width: $bp_fluid) {
			@include box-sizing(border-box);
			display: table-cell;
			position: relative;
			margin-left: 101px;
    	padding: 12px;

			&:after {
		    position: absolute;
		    top: 0;
		    bottom: 0;
		    right: 12px;
		    margin: auto;
		    content: '';
		    width: 0;
		    height: 0;
		    border-top: 8px solid transparent;
		    border-bottom: 8px solid transparent;
		    border-left: 8px solid $black-10;
			}
		}
	}

	&__content {
		float: left;
	}

	&__title {
		font-family: $f_primary;
		color: $c_secondary;
		text-transform: uppercase;
		font-size: 2.5rem;
		font-weight: 600;

		@media (max-width: $bp_small) {
			font-size: 1.7rem;
		}

		@media (max-width: $bp_fluid) {
			font-size: 1.3rem;
		}
	}

	&__info {
		font-size: 2rem;
		color: $black-70;
		font-weight: 300;
		margin: 15px 0 0 0;

		@media (max-width: $bp_small) {
			font-size: 1.6rem;
			margin-top: 10px;
		}

		@media (max-width: $bp_fluid) {
			font-size: 1.2rem;
			margin-top: 1px;
		}

		&--price {
			font-weight: 500;
			color: $c_primary;
		}
	}

	&__details-button {
    @include align(vertical);
		@extend %button-primary;
    right: 0;

		@media (max-width: $bp_small) {
			width: 150px;
			font-size: 1.5rem;

			img {
				width: 8px;
			}
		}

		@media (max-width: $bp_fluid) {
			display: none;
		}
	}

	@media (max-width: $bp_fluid) {
		// Important tag used to override JS forced styles
		display: block !important;
	}
}

/*
| -----------------------------------------------------
|  Details Block
| -----------------------------------------------------
*/
.floorplan-details {
  background: #fff;

  &__container {
    @extend %padding;
    display: block;
    margin: 0 auto;
    width: $w_large;

    @media (max-width: $bp_medium) {
      width: $w_medium;
    }

    @media (max-width: $bp_small) {
      width: $w_small;
    }

    @media (max-width: $bp_fluid) {
      width: 100%;
    }
  }

  &__schedule-tour {
    display: none;
    margin-top: 20px;
  }

  &__form {
    background: $black-05;
    padding: 40px;
    border: 1px solid $black-10;

    @media (max-width: $bp_fluid) {
      padding: 10px;
    }
  }

  &__image-pane {
    border: 1px solid $black-10;
    position: relative;

    &:after {
      display: table;
      content: '';
      clear: both;
    }
  }

  &__image {
    width: 100%;
    height: 0;
    opacity: 0;
    float: left;

    &--visible {
      opacity: 1;
      height: 100%;
    }
  }

  &__floor-wrap {
    &:after {
      display: table;
      content: '';
      clear: both;
    }
  }

  &__title-table {
    display: table;
    background: rgba(#000, .02);
    border: 1px solid $black-10;
    border-top: 0;
    width: 100%;
    padding: 40px;

    @media (max-width: $bp_fluid) {
      padding: 0;
    }
  }

  &__title-column {
    display: table-cell;
    vertical-align: middle;

    @media (max-width: $bp_fluid) {
      display: table;
      width: 100% !important;
      padding: 10px;
    }

    &--right {
      width: 1%;
      white-space: nowrap;

      @media (max-width: $bp_fluid) {
        border-top: 1px solid $black-10;
      }
    }
  }

  &__title {
    color: $black-80;
    font-family: $f_secondary;
    font-size: 4rem;

    @media (max-width: $bp_fluid) {
      text-align: center;
      width: 100%;
      font-size: 2rem;
    }
  }

  &__price {
    font-size: 2.3rem;
    color: $c_primary;
    font-weight: 500;

    @media (max-width: $bp_fluid) {
      font-size: 1.7rem;
      text-align: center;
    }
  }

  &__info {
    color: $black-70;
    font-family: $f_primary;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 40px;

    @media (max-width: $bp_fluid) {
      width: 100%;
      font-size: 1.6rem;
      text-align: center;
      float: none;
      margin: 0;
    }
  }

  &__details {
    margin-top: 40px;

    @media (max-width: $bp_fluid) {
      margin-top: 20px;
    }
  }

  &__description {
    text-align: center;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid $black-10;
  }

  &__button-wrap {
    @include clearfix();
    display: table;
    text-align: center;
    width: 100%;
    margin: 0 auto;

    @media (max-width: $bp_fluid) {
      width: 100%;
    }
  }

  &__button-wrap-item {
    display: inline-block;
    margin-right: 15px;

    &:last-child {
      margin-right: 0;
    }

    @media (max-width: $bp_fluid) {
      width: 100%;
      float: none;
      margin-right: 0;
      margin-bottom: 10px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__button {
    @extend %button-primary;

    &--active {
      opacity: .8;
    }

    @media (max-width: $bp_large) {
      @include ph(0);
      width: 280px;
    }

    @media (max-width: $bp_small) {
      width: 230px;
      font-size: 1.6rem;
       img {
        width: 10px;
       }

       img.down {
        height: 10px;
       }
    }

    @media (max-width: $bp_fluid) {
      width: 100%;
    }
  }

  &__toggle {
    @include clearfix();
    position: absolute;
    right: 10px;

    &--floors {
      bottom: 10px;
    }

    &--dimension {
      top: 10px;
    }

    @media (max-width: $bp_fluid) {
      position: relative;
      display: table;
      width: 100%;
      left: 0;
      top: 0;
      bottom: 0;
      text-align: center;
      background: $black-10;
      padding: 10px 0;
    }
  }

  &__toggle-item {
    float: left;
    overflow: hidden;
    background: $c_primary;

    @media (max-width: $bp_fluid) {
      display: inline-block;
      float: none;
    }
  }

  &__toggle-link {
    display: inline-block;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 300;
    text-transform: uppercase;
    padding: 9px 25px;
    border-right: 1px solid $white-40;

    &--active {
      background: $black-20;
    }

    @media (max-width: $bp_fluid) {
      @include ph(15px);
      font-size: 1.3rem;
    }
  }
}

/*
| -----------------------------------------------------
|  Check Availability Block
| -----------------------------------------------------
*/
.check-availability {
  margin-top: 20px;
  background: $black-05;
  border: 1px solid $black-10;
  border-bottom: 0;

  @media (max-width: $bp_small) {
    background: none;
    border: 0;
  }

  &__table {
    width: 100%;
  }

  &__row {
    font-size: 1rem;
    color: $black-70;

    @media (max-width: $bp_large) {
      font-size: .9rem;
    }

    @media (max-width: $bp_medium) {
      font-size: .8rem;
    }

    @media (max-width: $bp_small) {
      display: block;
      border: 1px solid $black-10;
      background: $black-05;
      margin-top: 10px;
    }

    &--head {
      background: $white-90;
      border-bottom: 1px solid $black-10;

      @media (max-width: $bp_small) {
        display: none;
      }
    }

    &--lease-term {
      margin-top: 0;
      border-top: 0;
    }

    &:last-child {
      border-bottom: 0;
    }

    &:nth-child(2) {
      margin-top: 0;
    }
  }

  &__head {
    font-size: 1.6rem;
    font-weight: 600;
    padding: 15px;
    border-right: 1px solid $black-10;

    @media (max-width: $bp_large) {
      font-size: 1rem;
    }

    @media (max-width: $bp_small) {
      display: none;
    }

    &:last-child {
      border-right: 0;
    }
  }

  &__cell {
    font-size: 1.5rem;
    padding: 12px;
    border-right: 1px solid $black-10;
    border-bottom: 1px solid $black-10;

    @media (max-width: $bp_medium) {
      padding: 8px;
    }

    @media (max-width: $bp_small) {
      display: block;
      border-right: 0;
      padding: 10px;
      text-align: center;
    }

    span {
      display: none;

      @media (max-width: $bp_small) {
        display: block;
      }
    }

    &--link {
      @media (max-width: $bp_small) {
        padding-top: 0;
      }
    }

    &--lease-term {
      padding: 30px;
      text-align: left;

      @media (max-width: $bp_medium) {
        padding: 10px;
      }
    }

    &:last-child {
      border-right: 0;

      @media (max-width: $bp_small) {
        border-bottom: 0;
      }
    }
  }

  &__cell-link {
    display: block;
    padding: 12px;
    background: $c_primary;
    color: #fff;
    text-align: center;

    &--grey {
      background: $black-10 !important; // Override color-styles.php
      border: 1px solid $black-20;
      color: $black-70;
    }

    &:hover {
      opacity: .8;
    }
  }

  &__lease-term-title {
    display: block;
    font-weight: 700;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid $black-10;
  }

  &__lease-term-option {
    display: table;
    cursor: pointer;
    height: 30px;
    width: 100%;
    margin-bottom: 12px;
    padding-bottom: 12px;
    border-bottom: 1px solid $black-05;

    &:last-child {
      margin-bottom: 0;
      border-bottom: 0;
    }
  }

  &__lease-term-input {
    @include mv(2px);
    margin-right: 15px;
    float: left;

    @media (max-width: $bp_small) {
      @include mv(0);
      margin-right: 10px;
    }
  }
}
