.ebrochure {

	&__table {
		@include clearfix();
  	width: 100%;
	}

  &__heading {
    width: 25%;
    padding: 15px;
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    border-bottom: 3px solid $black-10;

    @media (max-width: $bp_large) {
      font-size: 2.1em;
    }

    @media (max-width: $bp_medium) {
      font-size: 1.8em;
    }

    @media (max-width: $bp_small) {
      font-size: 1.5em;

      span {
        display: none;
      }
    }

    @media (max-width: $bp_fluid) {
      font-size: 1.2em;
      padding: 10px;

      &:first-of-type {
        width: 40%;
      }
      &:nth-of-type(2),
      &:nth-of-type(3) {
        width: 17%;
      }
      &:last-of-type {
        width: 24%;
      }
    }

    &--left {
      text-align: left;
    }
  }

  &__row {
  	&--heading {
  		background: $black-05;

  		&:hover {
  			background: none;
  		}
  	}

    &:hover {
    	cursor: pointer;
      background: rgba(#000, .02);
    }
  }

  &__cell {
    width: 25%;
    padding: 15px;
    font-size: 1.8rem;
    text-align: center;
    border-bottom: 1px solid $black-10;
    color: $black-70;

    &:first-of-type {
      text-align: left;
      font-weight: 600;
    }

    input[type="checkbox"] {
      margin-right: 10px;
    }

    @media (max-width: $bp_large) {
      font-size: 1.8em;
    }

    @media (max-width: $bp_medium) {
      font-size: 1.6em;
    }

    @media (max-width: $bp_small) {
      font-size: 1.4em;
    }

    @media (max-width: $bp_fluid) {
      font-size: 1.2em;
      padding: 10px;

      &:first-of-type {
        width: 40%;
      }

      &:nth-of-type(2),
      &:nth-of-type(3) {
        width: 17%;
      }

      &:last-of-type {
        width: 26%;
      }
    }

    &--unit {
    	@media (max-width: $bp_fluid) {
    		display: none;
    	}
    }
  }

  &__error {
  	background: $c_error;
  	color: #fff;
  	font-size: 1.2rem;
  	line-height: 1.6rem;
	  margin: 20px 0;
	  padding: 20px;
	  text-align: center;

	  @media (max-width: $bp_fluid) {
	  	font-size: 1rem;
	  	line-height: 1.4rem;
	  }
  }

  &__input-wrap {
  	width: 600px;
  	display: table;
  	margin: 0 auto;
  	position: relative;

  	@media (max-width: $bp_fluid) {
  		width: 100%;
  	}
  }

  &__input {
  	@extend %form-field-reset;
  	border: 1px solid $black-20;
  	height: 60px;
  	width: 100%;
  	font-size: 1.8rem;
  	font-weight: 300;
  	color: $black-60;
    padding: 0 20px;

  	@media (max-width: $bp_fluid) {
  		font-size: 1.3rem;
  		height: 50px;
  	}

  	&--error {
  		border: 1px solid $c_error;
  	}
  }

  &__inline-msg {
  	@include align(vertical);
  	right: 20px;
  	color: $c_error;
  	font-size: 1.1rem;
  }

  &__button {
  	@extend %button-primary, %button-primary--centered;
  	display: block;
    width: 300px;
    color: #fff !important;
    text-decoration: none !important;
    border: 0;

  	&--submit {
  		margin-top: 40px !important;
      outline: none;

  		@media (max-width: $bp_fluid) {
  			margin-top: 20px !important;
  		}
  	}

    &--center {
      margin: 0 auto;
    }

  	@media (max-width: $bp_fluid) {
  		width: 100%;
  	}
  }
}