.gallery {
  @include clearfix();
  background: #fff;

  &__link {
    width: calc(25% - 16px);
    float: left;
    margin-right: 20px;

    &:nth-child(n+5){
      margin-top: 20px;

      @media (max-width: $bp_medium) {
        margin-top: 10px;
      }
    }

    &:nth-child(4n+4) {
      margin-right: 0;
    }

    @media (max-width: $bp_medium) {
      width: calc(25% - 9px);
      margin-right: 10px;
    }

    @media (max-width: $bp_fluid) {
      width: calc(50% - 6px);

      &:nth-child(2n+2) {
        margin-right: 0;
      }

      &:nth-child(n+3) {
        margin-top: 5px;
      }
    }
  }

  &__image {
    width: 100%;
  }
}
