/*
| -----------------------------------------------------
|  Location Block
| -----------------------------------------------------
*/
.location {
	&__mobile-address {
		display: none;
		background: $white-90;
		border-top: 1px solid $black-20;
		padding: 20px;

		@media (max-width: $bp_fluid) {
			display: block;
		}
	}

	&__mobile-address-container {
		@extend %container;
	}

	&__mobile-address-content {
		font-size: 1.6rem;
		line-height: 2.5rem;
		color: $black-70;
	}

	&__mobile-address-header {
		display: block;
		font-size: 2rem;
		font-weight: 600;
		color: $c_secondary;
		margin-bottom: 10px;
		padding-bottom: 10px;
		border-bottom: 1px solid $black-10;
	}

	&__mobile-address-link {
		@extend %button-primary;
		margin-top: 15px;
		@media (max-width: $bp_fluid) {
			width: 100%;
		}
	}

	&__poi {
		border-top: 1px solid $black-20;
		background: #fff;
	}


	&__poi-container {
		@extend %container, %padding;

		@media (max-width: $bp_fluid) {
			padding: 0;
		}
	}

	&__poi-category-wrap {
		@include clearfix();

	}

	&__poi-category {
		width: 25%;
		float: left;
		border-right: 1px solid $black-20;

		&:last-child {
			border-right: 0;
		}

		@media (max-width: $bp_fluid) {
			width: 100%;
			border: 0;
		}
	}

	&__poi-category:last-child &__poi-category-header {
		@media (max-width: $bp_fluid) {
			border-bottom: 0;
		}
	}

	&__poi-category-header {
		padding: 10px;
		font-size: 2.2rem;
		text-transform: uppercase;
		font-weight: 400;
		color: $c_secondary;
		font-family: $f_secondary;
		line-height: 2rem;
		text-align: center;
		border-bottom: 1px solid $black-20;

		@media (max-width:$bp_large) {
			font-size: 2rem;
		}

		@media (max-width: $bp_fluid) {
			font-size: 1.7rem;
			display: block;
			width: 100%;
			padding: 10px 20px;
			text-align: left;

			&:after {
				content: '+';
				float: right;
			}
		}

		&--active {
			background: $c_primary;
			color: #fff;

			&:after {
				content: '-';
			}
		}

		&--desktop {
			@media (max-width: $bp_fluid) {
				display: none;
			}
		}

		&--mobile {
			display: none;

			@media (max-width: $bp_fluid) {
				display: block;
			}
		}
	}

	&__poi-category-list-wrap {
		padding: 0 20px;

		@media (max-width: $bp_fluid) {
			padding: 0;
		}
	}

	&__poi-category-list {
		@media (min-width: $bp_fluid) {
			display: block !important;
		}

		@media (max-width: $bp_fluid) {
			display: none;
		}
	}

	&__poi-category-list-item {
		position: relative;
		height: 60px;
		text-align: center;
		font-size: 1.8rem;
		color: $black-70;
		border-bottom: 1px solid $black-20;

		@media (max-width: $bp_medium) {
			font-size: 1.4rem;
		}

		@media (max-width: $bp_fluid) {
			font-size: 1.5rem;
			text-align: left;
			height: initial;
			line-height: 2rem;
		}

		&--hidden {
			display: none;

			@media (max-width: $bp_fluid) {
				display: block !important;
			}
		}
	}

	&__poi-link {
		color: $black-80;
		padding: 10px 0;
		display: block;
	}

	&__poi-location-name {
		color: $c_primary;
		font-size: 1.1rem;
	}

	&__poi-category-title {
		@include align(center);
		width: 100%;

		@media (max-width: $bp_fluid) {
			@include align(none);
			padding: 10px 20px;
		}
	}

	&__poi-load-more {
		@extend %button-primary;
		display: table;
		margin: 60px auto 0 auto;

		@media (max-width: $bp_medium) {
			margin-top: 40px;
		}

		@media (max-width: $bp_fluid) {
			display: none;
		}
	}
}

/*
| -----------------------------------------------------
|  Map Block
| -----------------------------------------------------
*/
.map {
	position: relative;
	overflow: hidden;
	height: 500px;

	@media (max-width: $bp_large) {
		height: 400px;
	}

	@media (max-width: $bp_fluid-medium) {
		height: 0;
		padding-bottom: 60%;
	}

	&__canvas {
		position: absolute;
		height: 130%;
		width: 130%;
		left: -25%;

		@media (max-width: $bp_fluid) {
			width: 140%;
			left: -40%;
		}

		@media (max-width: $bp_fluid-medium) {
			width: 135%;
			left: -19%;
			height: 140%;

			canvas {
				display: none;
			}
		}
	}

	&__nav {
	  width: auto;
	  height: 34px;
	  position: absolute;
	  bottom: 30px;
	  left: 120px;
	  z-index: 5;

	  @media (max-width: $bp_fluid-medium) {
	  	display: none;
	  }
	}

	&__nav-item {
		border-radius: 50%;
	  width: 34px;
	  height: 34px;
	  margin-right: 12px;
	  float: left;
	  cursor: pointer;
	  background-position: center center;
	  background-repeat: no-repeat;

	  &--control {
	  	background-color: $black-60;
	  }

	  &--poi {
	  	background-color: $c_primary;
	  }

	  &--zoom-in {
	  	background-image: url(../images/map/btn_zoom_in.svg);
	  }

		&--zoom-out {
	  	background-image: url(../images/map/btn_zoom_out.svg);
	  }

		&--refresh {
		  background-image: url(../images/map/btn_reset.svg);
		}

		&--coffee {
			background-size: 14px;
		  background-image: url(../images/map/btn_coffee.svg);
		}

		&--restaurants {
			background-size: 9px;
		  background-image: url(../images/map/btn_restaurants.svg);
		}

		&--shopping {
			background-size: 12px;
		  background-image: url(../images/map/btn_shopping.svg);
		}

		&--recreation {
			background-size: 10px;
		  background-image: url(../images/map/btn_recreation.svg);
		}
	}

	&__nav-poi-wrap{
	  margin-left: 25px;
	  overflow: hidden;
	  width: 200px;
	  float: left;
	}

	&__infobox {
		width: auto !important;
	}

	&__infobox-modal {
		box-sizing: initial;
		min-width: 250px;
		height: 197px;
		padding: 20px 30px 0 150px;
		position: relative;
		top: -23px;

		@media (max-width: $bp_fluid-medium) {
			padding: 0;
			width: 152px;
		}
	}

	&__infobox-close-button {
		border-radius: 50%;
		position: absolute;
		top: -15px;
		right: -15px;
		display: block;
		background: $black-70;
		color: #fff;
		width: 30px;
		height: 30px;
		text-align: center;
		line-height: 30px;
		font-size: 1.4rem;
	}

	&__infobox-pinpoint-wrap {
		position: absolute;
		top: 20px;
		left: 5px;

		@media (max-width: $bp_fluid-medium) {
	  	top: 65px;
	  	left: 25px;
	  }
	}

	&__infobox-pinpoint-svg {
		svg {
			@include square(134px);
		}
		svg * {
			fill: $c_primary;
		}
	}

	&__infobox-pinpoint-icon {
		position: absolute;
		top: 0;
		bottom: 20px;
		left: 0;
		right: 0;
		margin: auto;
	  width: 60%;
	}

	&__infobox-address {
		box-shadow: 0 0 15px #aaa;
	  width: 100%;
	  float: left;
	  background: $white-90;
	  padding: 24px;
	  position: relative;

	  @media (max-width: $bp_fluid-medium) {
	  	display: none;
	  }
	}

	&__infobox-address-text {
	  font-family: $f_primary;
	  margin: 0;
	  text-align: left;
	  font-size: 1.7em;
	  line-height: 1.3em;
	  color: $black-70;
	}

	&__infobox-address-header {
		font-family: $f_primary;
		color: $c_primary;
		display: block;
		margin-bottom: -10px;
		font-size: 2.5rem;
	}

	&__infobox-directions-text {
	  display: block;
	  margin-top: 10px;
	  font-size: .7em;
	  text-transform: uppercase;
	}

	&__infobox-directions-link {
	  color: $c_secondary;
	  font-weight: 600;
	  font-family: $f_primary;
	  font-size: 1.8em;

	  &:hover {
	    text-decoration: underline;
	  }
	}

	&__infobox-poi {
		box-shadow: 0 0 15px #aaa;
	  min-width: 280px;
	  padding: 20px;
	  background: #fff;
	}

	&__infobox-poi-address {
		display: block;
		font-family: $f_primary;
		color: $black-70;
	  font-size: 1.4em;
	  line-height: 1.4em;
	  margin: 0 0 10px 0;
	  text-align: left;
	}

	&__infobox-poi-address-header{
		font-size: 1.8rem;
		font-weight: 500;
		color: $c_primary;
		border-bottom: 1px solid $black-10;
		display: block;
	  margin-bottom: 7px;
	  padding-bottom: 5px;
	}

	&__infobox-poi-link {
	  font-size: 1.2em;
	  font-weight: 500;
	  text-transform: uppercase;
	  color: $c_secondary;
	  font-family: $f_primary;
	  font-weight: 600;
	}
}