.form {
	&__row {
		display: table;
		width: 100%;
		position: relative;
		margin-bottom: 20px;

		@media (max-width: $bp_fluid) {
			margin-bottom: 10px;
		}

		&--select {
			@extend %form-select-wrap;
		}

		&:last-child {
			margin: 0;
		}
	}

	&__column {
		position: relative;
		width: calc(50% - 10px);
		float: left;
		margin-right: 20px;

		@media (max-width: $bp_fluid) {
			width: 100%;
			margin-right: 0;
			margin-bottom: 10px;
		}

		&--select {
			@extend %form-select-wrap;
		}

		&:last-child {
			margin: 0;
		}
	}

	&__label {
		@extend %form-text-styles;
		display: block;
		margin-bottom: 8px;

		&--error {
			color: $c_error;
		}

		&--infield {
			position: absolute;
			top: 14px;
			left: 21px;

			@media (max-width: $bp_fluid) {
				top: 17px;
			}
		}

		&--required {
			color: $c_error;
		}
	}

	&__error-label {
		@include align(vertical);
		right: 17px;
		font-size: 1.2rem;
		color: #fff;
		background: $c_error;
		padding: 5px 10px;
		font-family: $f_secondary;
		text-transform: uppercase;
	}

	&__required {
		color: $c_error;
	}

	&__loading {
		position: absolute;
		width: 100%;
		height: 100%;
		background: $black-80;
	}

	&__loading-icon {
		@include align(center);
		width: 40px;
	}

	&__field {
		@extend %form-field-reset, %form-text-styles;
		border: 1px solid $black-10;
		width: 100%;

		&--error {
			border-color: $c_error;
		}

		&--text, &--select {
			height: 55px;
			padding: 0 20px;
		}

		&--select {
			height: 51px;
			cursor: pointer;
			position: relative;
			z-index: 1000;
			background: none;
			padding-right: 0;
			width: calc(100% + 20px);
			border: 0;

			@-moz-document url-prefix() {
				padding-right: 90px;
			}

			@media screen and (-webkit-min-device-pixel-ratio:0) {  
				padding-right: 90px;
			}
		}

		&--textarea {
			padding: 11px 20px;
			height: 150px;
			resize: vertical;
		}

		&--submit {
			@extend %button-primary;
			@include ph(100px);
			display: block;
			border: 0;
			color: #fff;
			cursor: pointer;
			width: auto;
			margin: 0 auto;

			@media (max-width: $bp_fluid) {
				@include ph(0);
				width: 100%;
			}
		}

		&--submit-full {
			width: 100%;
		}
	}

	&__confirm {
		background: $c_pass;
		padding: 40px;
		color: #fff;

		@media (max-width: $bp_medium) {
			padding: 30px;
		}

		@media (max-width: $bp_fluid) {
			padding: 20px;
		}
	}

	&__confirm-header {
		color: #fff;
		font-family: $f_primary;
		font-weight: 300;
		font-style: italic;
		display: block;
		text-align: center;
		font-size: 4rem;

		@media (max-width: $bp_large) {
			font-size: 3rem;
		}

		@media (max-width: $bp_fluid) {
			font-size: 2.2rem;
		}
	}

	&__confirm-text {
		color: #fff;
		margin-top: 15px;
		font-size: 1.8rem;
		text-align: center;
		font-weight: 200;
		line-height: 2.5rem;
		font-family: $f_secondary;

		@media (max-width: $bp_large) {
			margin-top: 20px;
		}

		@media (max-width: $bp_fluid) {
			margin-top: 10px;
			font-size: 1.5rem;
		}
	}
}

/* -----------------------------------------------------------------
  Form Confirm Block
----------------------------------------------------------------- */
.form-confirm {
	background: $c_pass;
	padding: 80px 30px;
	color: #fff;

	&--clear {
		background: $white-20;
		border: 2px solid #fff;
	}

	&--alt {
		background: $white-10;
		border: 3px solid $white-80;
	}

	&__header {
		color: #fff;
		font-family: $f_primary;
		font-weight: 700;
		display: block;
		text-align: center;
		font-size: 4rem;
		font-style: italic;

		@media (max-width: $bp_large) {
			font-size: 3rem;
		}
	}

	&__text {
		color: #fff;
		margin-top: 15px;
		font-size: 1.8rem;
		text-align: center;
		font-weight: 200;
		line-height: 2.5rem;
		font-family: $f_secondary;

		@media (max-width: $bp_large) {
			margin-top: 20px;
		}

		@media (max-width: $bp_fluid) {
			font-size: 1.7rem;
		}
	}

	@media (max-width: $bp_large) {
		padding: 60px 20px;
	}

	@media (max-width: $bp_large) {
		padding: 40px 20px;
	}
}