.page {
	&__banner {
		@include clearfix();
		position: relative;
	}

	&__banner-image {
		width: 100%;
		padding-bottom: 30%;
		background-size: cover;
		background-position: center center;

		@media (min-width: 1800px) {
			padding-bottom: 0;
			height: 540px;
		}
	}

	&__banner-header {
		background: rgba($c_primary, .8);
		border-top: 1px solid $white-40;
		width: 100%;
		padding: 20px 0;
		position: absolute;
		bottom: 0;
		left: 0;

		@media (max-width: $bp_medium) {
			padding: 10px 0;
		}

		@media (max-width: $bp_fluid) {
			position: relative;
			background: $c_primary;
			padding: 0;
		}
	}

	&__banner-header-container {
		@extend %container;
		position: relative;
	}

	&__banner-title {
		font-size: 4rem;
		text-transform: uppercase;
		font-weight: 600;
		text-align: center;
		color: #fff;

		@media (max-width: $bp_small) {
			font-size: 3.5rem;
		}

		@media (max-width: $bp_fluid) {
			font-size: 2.5rem;
			padding: 10px 0;
		}
	}

	&__banner-back-button {
		display: table;
		margin: 0 auto;
		text-align: center;
		color: #fff;
		font-size: 1.7rem;
		font-weight: 300;

		@media (max-width: $bp_fluid) {
			display: block;
			font-size: 1.4rem;
			font-style: italic;
			padding: 8px 0;
			background: $white-10;
			border-top: 1px solid $white-20;
		}
	}

	&__banner-button-container {
		@media (max-width: $bp_fluid) {
			display: table;
			width: 100%;
			table-layout: fixed;
			border-top: 1px solid $white-30;
		}
	}

	&__banner-button {
		@include align(vertical);
		border: 1px solid #fff;
		background: $white-30;
		color: #fff;
		font-family: $f_secondary;
		text-transform: uppercase;
		font-weight: 500;
		padding: 12px 30px;
		font-size: 1.8rem;
		letter-spacing: .1rem;

		@media (max-width: $bp_small) {
			font-size: 1.7rem;
			padding: 6px 20px 8px;
		}

		@media (max-width: $bp_fluid) {
			@include align(none);
			font-size: 1.4rem;
			display: table-cell;
			border: 0;
			text-align: center;
			background: $white-10;

			&:not(:last-child) {
				border-right: 1px solid $white-30;
			}
		}

		&--left {
			left: 0;
		}

		&--right {
			right: 0;
		}

		&:hover {
			background: #fff;
			color: $c_secondary;

			@media (max-width: $bp_fluid) {
				background: $c_primary;
				color: #fff;
			}
		}
	}

	&__container {
		@extend %padding, %container;
	}

	&__content {
		&--align-center {
			text-align: center;
		}

		&--space-bottom {
			margin-bottom: 50px;

			@media (max-width: $bp_small) {
				margin-bottom: 30px;
			}

			@media (max-width: $bp_fluid) {
				margin-bottom: 20px;
			}
		}

		a {
			color: $c_primary;
			text-decoration: underline;
		}

		p, li {
			font-size: 2rem;
			line-height: 3.5rem;
			color: $black-70;
			margin-bottom: 20px;

			@media (max-width: $bp_fluid) {
				font-size: 1.6rem;
			}

			&:last-child {
				margin-bottom: 0;
			}
		}

		h2, h3, h4, h5, h6 {
			margin-top: 10px;
			margin-bottom: 15px;

			&:first-child {
				margin-top: 0;
			}
		}

		h2 {
			font-size: 4.5rem;
			color: $c_secondary;
			font-style: italic;
			font-weight: 300;

			@media (max-width: $bp_medium) {
				font-size: 3.8rem;
			}

			@media (max-width: $bp_fluid) {
				font-size: 2.8rem;
			}
		}

		h3 {
			font-size: 4rem;
			color: $c_primary;
			font-family: $f_secondary;
			font-weight: 300;

			@media (max-width: $bp_medium) {
				font-size: 3.5rem;
			}

			@media (max-width: $bp_fluid) {
				font-size: 2.5rem;
			}
		}

		h4 {
			font-size: 3.3rem;
			color: $c_tertiary;
			font-style: italic;

			@media (max-width: $bp_medium) {
				font-size: 2.8rem;
			}

			@media (max-width: $bp_fluid) {
				font-size: 2.4rem;
			}
		}

		h5 {
			font-size: 2.8rem;
			color: $c_secondary;

			@media (max-width: $bp_medium) {
				font-size: 2.4rem;
			}

			@media (max-width: $bp_fluid) {
				font-size: 2rem;
			}
		}

		h6 {
			font-family: $f_secondary;
			font-size: 2.4rem;
			color: $c_primary;
			font-weight: 300;

			@media (max-width: $bp_medium) {
				font-size: 2rem;
			}

			@media (max-width: $bp_fluid) {
				font-size: 1.8rem;
			}
		}

		ul, ol {
			padding-left: 40px;
		}

		ul {
			list-style: disc;
		}

		ol {
			list-style: decimal;
		}

		li {
			margin-bottom: 0;
		}

		blockquote {
			@include bv(1px solid $black-10);
			padding: 20px 0;
		}

		blockquote p {
			font-size: 3rem;
			color: $black-40;
			font-style: italic;
			text-align: center;
		}
	}

	&__button-wrap {
		display: table;
		width: 100%;
		text-align: center;
		margin-top: 40px;

		@media (max-width: $bp_fluid) {
			margin-top: 20px;
		}
	}

	&__button {
		@extend %button-primary;
		margin-right: 20px;

		@media (max-width: $bp_fluid) {
			width: 100%;
			margin-bottom: 8px;
			margin-right: 0;
		}

		&:last-child {
			margin: 0;
		}
	}

	&__disclaimer {
		margin-top: 0;
		background: $black-05;
		border: 1px solid $black-05;
		border-bottom: 0;
		padding: 30px;
		text-align: center;

		&--breathe {
			margin-top: 60px;
		}

		@media (max-width: $bp_medium) {
			&--breathe {
				margin-top: 40px;
			}
		}

		@media (max-width: $bp_fluid) {
			padding: 20px;
			font-size: .9rem;
			&--breathe {
				margin-top: 20px;
			}
		}
	}

	&__disclaimer-text {
		font-size: 1.8rem;
		color: $black-60;
		font-style: italic;

		@media (max-width: $bp_fluid) {
			font-size: 1.5rem;
		}
	}
}