/* -----------------------------------------------------------------
  Keyframes
----------------------------------------------------------------- */
@include keyframes(bounce-share) {
  50% {
    opacity: .3;
  }
}

/* -----------------------------------------------------------------
  Share Loader
----------------------------------------------------------------- */
.share-loader {
  width: 52px;
  position: relative;
  top: 3px;

  &__circle {
    @include animation-name(bounce-share);
    @include animation-duration(0.6000000000000001s);
    @include animation-iteration-count(infinite);
    @include animation-direction(linear);
    border-radius: 50%;

    background-color: $c_primary;
    float: left;
    height: 14px;
    margin-left: 5px;
    width: 14px;
    border-radius: 21px;

    &--1 {
      @include animation-delay(0.12000000000000002s);
      margin-left: 0;
    }

    &--2 {
      @include animation-delay(0.28s);
    }

    &--3 {
      @include animation-delay(0.36s);
    }
  }
}

/* -----------------------------------------------------------------
  Share This Popup
----------------------------------------------------------------- */
.share-this-popup {
  transition: all .3s ease;
  position: absolute;
  top: -75px;
  right: 0px;
  height: 0;
  overflow: hidden;
  opacity: 0;

  &--show {
    height: 85px;
    overflow: visible;
    opacity: 1;
  }

  &__list {
    width: 230px;
    height: 65px;
    padding: 10px;
    background: #222;
    position: relative;

    &:after {
      @include bh(15px solid transparent);
      border-top: 15px solid #222;
      display: block;
      content: '';
      width: 0;
      height: 0;
      position: absolute;
      right: 8px;
      bottom: -10px;
    }
  }

  &__item {
    float: left;
    margin-right: 10px;

    &:last-child {
      margin: 0;
    }
  }

  &__link {
    display: block;
    width: 45px;
    height: 45px;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;

    &--twitter {
      background: #6ddfea url(../images/icons/share-this/icon_social_twitter.svg) center center no-repeat;
      background-size: 20px 16px;
    }

    &--facebook {
      background: #395b9a url(../images/icons/share-this/icon_social_facebook.svg) center center no-repeat;
      background-size: 9px 18px;
    }

    &--google {
      background: #e24429 url(../images/icons/share-this/icon_social_google.svg) center center no-repeat;
      background-size: 18px 16px;
    }

    &--email {
      background: #b49852 url(../images/icons/share-this/icon_social_email.svg) center center no-repeat;
      background-size: 17px 11px;
    }

    &:hover {
      opacity: .9;
    }
  }
}