.site-map {
	display: table;
	width: 100%;

	&--error-page {
		margin-top: 40px;

		@media (max-width: $bp_fluid) {
			margin-top: 20px;
		}
	}

	&__item {
		width: calc(50% - 10px);
		float: left;
		margin-bottom: 20px;
		margin-right: 20px;

		@media (max-width: $bp_fluid) {
			width: 100%;
			margin-right: 0;
			margin-bottom: 10px;
		}

		&--last {
			margin-right: 0;
			width: 100%;
		}

		&:nth-child(2n+2) {
			margin-right: 0;
		}

		&:last-child, &:nth-last-child(2) {
			margin-bottom: 0;

			@media (max-width: $bp_fluid) {
				margin-bottom: 10px;
			}
		}
	}

	&__link {
		background: $black-05;
		color: $black-60;
		font-size: 2.6rem;
		font-weight: 700;
		text-transform: uppercase;
		padding: 30px 0;
		border: 1px solid $black-10;
		text-align: center;
		display: block;

		@media (max-width: $bp_small) {
			font-size: 1.8rem;
			padding: 20px 0;
		}

		@media (max-width: $bp_fluid) {
			padding: 15px 0;
			font-size: 1.5rem;
		}

		&:hover {
			opacity: .8;
		}

	}
}