/*
| -----------------------------------------------------
|  Layout Helpers
| -----------------------------------------------------
*/
%container {
	width: $w_starting;
	margin: 0 auto;
	display: block;

	@media (max-width: $bp_large) {
		width: $w_large;
	}

	@media (max-width: $bp_medium) {
		width: $w_medium;
	}

	@media (max-width: $bp_small) {
		width: $w_small;
	}

	@media (max-width: $bp_fluid) {
		width: 100%;
	}
}

%padding {
	@include pv(80px);

	@media (max-width: $bp_large) {
		@include pv(60px);
	}

	@media (max-width: $bp_medium) {
		@include pv(40px);
	}

	@media (max-width: $bp_fluid) {
		padding: 20px;
	}
}

/*
| -----------------------------------------------------
|  Form Helpers
| -----------------------------------------------------
*/
%form-field-reset {
	appearance: none;
	border: 0;
	border-radius: 0;

	&:focus {
		outline: none;
		border-color: $c_secondary;
	}
}

%form-text-styles {
	font-size: 2rem;
	color: $black-80;

	@media (max-width: $bp_small) {
		font-size: 1.6rem;
	}
}

%form-select-wrap {
	border: 1px solid $black-10;
	overflow: hidden;
	background: #fff;

	&:after {
		content: '\25BC';
    display: block;
    width: 51px;
    height: 51px;
    position: absolute;
    z-index: 500;
    right: 0;
    top: 0;
    text-align: center;
    line-height: 51px;
    font-size: 1.5rem;
    background: $black-40;
    color: #fff;
    border-left: 1px solid $black-10;
	}
}

/*
| -----------------------------------------------------
|  Button Helpers
| -----------------------------------------------------
*/
%button-primary {
	transition: .1s ease opacity;
	display: inline-block;
	background: $c_primary;
	color: #fff;
	font-size: 2rem;
	text-transform: uppercase;
	padding: 12px 40px;
	text-align: center;

	@media (max-width: $bp_fluid) {
		width: 100%;
		padding: 12px;
		font-size: 1.7rem;
	}

	&--centered {
		display: table;
		margin: 0 auto;
	}

	&:hover {
		opacity: .8;
	}
}

%button-secondary {
	display: block;
	border: 2px solid #fff;
	font-size: 2rem;
	text-transform: uppercase;
	color: #fff;
	font-family: $f_secondary;
	padding: 15px;

	@media (max-width: $bp_medium) {
		font-size: 1.8rem;
	}
}