/*
  @mixin font-smoothing
  Applies antialiasing to fonts.

  @param $apply | boolean
*/
@mixin font-smooth($value: true) {
  @if $value == true or $value == on or $value == null {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  } @else {
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
  }
}

/*
  @mixin text-overflow
  CSS text truncator.

  @param $apply | boolean
*/
@mixin text-overflow($apply: true) {
  @if $apply == false {
    white-space: normal;
  } @else {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

/*
  @mixin responsive-image
  Full-length image with bottom spacing removed.
*/
@mixin responsive-image {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}


/*
  @mixin align
  Positions elements absolutely within their containers
  at vertical, hortizontal, or absolute center. 
  @param $post | String | 
    center
    vertical/vert
    horizontal/horz
    none/false/reset
*/
@mixin align($pos) {
  @if $pos == center
  {
    @include transform(translate(-50%, -50%));
    position: absolute;
    top: 50%;
    left: 50%;
  }
  @elseif $pos == vertical or $pos == vert
  {
    @include transform(translateY(-50%));
    position: absolute;
    top: 50%;
    left: inherit;
  }
  @elseif $pos == horizontal or $pos == horiz
  {
    @include transform(translateX(-50%));
    position: absolute;
    top: inherit;
    left: 50%;
  }
  @elseif $pos == none or $pos == false or $pos == reset
  {
    @include transform(none);
    position: initial;
    top: inherit;
    left: inherit;
  }
}

/*
  @mixin mv
  Applies vertical margin values.
*/
@mixin mv($topOrBoth, $bottom: false){
  @if $bottom == false
  {
    margin-top: $topOrBoth;
    margin-bottom: $topOrBoth;
  }
  @else
  {
    margin-top: $topOrBoth;
    margin-bottom: $bottom;
  }
}

/*
  @mixin mh
  Applies horizontal margin values.
*/
@mixin mh($leftOrBoth, $right: false){
  @if $right == false
  {
    margin-left: $leftOrBoth;
    margin-right: $leftOrBoth;
  }
  @else
  {
    margin-left: $leftOrBoth;
    margin-right: $right;
  }
}

/*
  @mixin bv
  Applies vertical border values. 
*/
@mixin bv($topOrBoth, $bottom: false){
  @if $bottom == false
  {
    border-top: $topOrBoth;
    border-bottom: $topOrBoth;
  }
  @else
  {
    border-top: $topOrBoth;
    border-bottom: $bottom;
  }
}

/*
  @mixin bh
  Applies horizontal border values.
*/
@mixin bh($leftOrBoth, $right: false){
  @if $right == false
  {
    border-left: $leftOrBoth;
    border-right: $leftOrBoth;
  }
  @else
  {
    border-left: $leftOrBoth;
    border-right: $right;
  }
}

/*
  @mixin ph
  Applies horizontal padding values.
*/
@mixin ph($leftOrBoth, $right: false){
  @if $right == false
  {
    padding-left: $leftOrBoth;
    padding-right: $leftOrBoth;
  }
  @else
  {
    padding-left: $leftOrBoth;
    padding-right: $right;
  }
}

/*
  @mixin pv
  Applies vertical padding values.
*/
@mixin pv($topOrBoth, $bottom: false){
  @if $bottom == false
  {
    padding-top: $topOrBoth;
    padding-bottom: $topOrBoth;
  }
  @else
  {
    padding-top: $topOrBoth;
    padding-bottom: $bottom;
  }
}

/*
  @mixin square
  Applies a value to both width and height.
*/
@mixin square($widthAndHeight){
  width: $widthAndHeight;
  height: $widthAndHeight;
}

/*
  @mixin listing-arrow
  Injects right arrow for listing via :after psuedo
*/
@mixin listing-arrow($arrowColor: $black-10){
  position: relative;
  
  &:after {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 12px;
    margin: auto;
    content: '';
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 8px solid $arrowColor;
  }
}