/* --------------------------------------------------------
  FONT VARS
--------------------------------------------------------- */
$f_primary: 'Open Sans', sans-serif;
$f_secondary: $f_primary;
$f_tertiary: 'Alegreya', Georgia, serif;

/* --------------------------------------------------------
  BREAKPOINT VARS
--------------------------------------------------------- */
$bp_large: 1380px;
$bp_medium: 1180px;
$bp_small: 980px;
$bp_fluid: 808px;
$bp_fluid-medium: 660px;
$bp_fluid-small: 480px;
$bp_fluid-xsmall: 360px;

/* --------------------------------------------------------
  WIDTH VARS
--------------------------------------------------------- */
$w_starting: 1100px;
$w_large: 1100px;
$w_medium: 900px;
$w_small: 760px;
$w_fluid: 100%;

/* --------------------------------------------------------
  COLOR VARS
--------------------------------------------------------- */

/* Brand Colors
-------------------------- */
$c_primary: #e06021;
$c_secondary: #e51a92;
$c_tertiary: #d3b500;
$c_quaternary: #0c88a0;

/* State Colors
-------------------------- */
$c_error: #d81f1f;
$c_pass: #7DAD6C;

/* Alpha Aliases
-------------------------- */
$white-05: rgba(255, 255, 255, .05);
$white-10: rgba(255, 255, 255, .1);
$white-20: rgba(255, 255, 255, .2);
$white-30: rgba(255, 255, 255, .3);
$white-40: rgba(255, 255, 255, .4);
$white-50: rgba(255, 255, 255, .5);
$white-60: rgba(255, 255, 255, .6);
$white-70: rgba(255, 255, 255, .7);
$white-80: rgba(255, 255, 255, .8);
$white-90: rgba(255, 255, 255, .9);

$black-05: rgba(0, 0, 0, .05);
$black-10: rgba(0, 0, 0, .1);
$black-20: rgba(0, 0, 0, .2);
$black-30: rgba(0, 0, 0, .3);
$black-40: rgba(0, 0, 0, .4);
$black-50: rgba(0, 0, 0, .5);
$black-60: rgba(0, 0, 0, .6);
$black-70: rgba(0, 0, 0, .7);
$black-80: rgba(0, 0, 0, .8);
$black-90: rgba(0, 0, 0, .9);