<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
<meta name="viewport" content="width=device-width" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>E-Brochure</title>
<style>
* {
    margin: 0;
    padding: 0;
    font-family: {{font_type}};
    font-size: 100%;
    line-height: 1.6;
}
</style>

<body bgcolor="#ffffff" style="margin: 0; padding: 0; -webkit-font-smoothing: antialiased; -webkit-text-size-adjust: none; width: 100% !important; height: 100%;">

<!-- body -->
<table class="body-wrap" width="100%" style="width:100%; max-width: 600px !important; margin: auto !important; padding: 0;">
    <tr>
        <td class="container" bgcolor="#FFFFFF" style="display: block !important; max-width: 600px !important; margin: 0 auto !important; clear: both !important; padding: 0 20px 20px 20px;">
            <img src="{{header_image}}" alt="{{company_name}}" style="margin: 0 auto; display: block; max-width: 600px !important; width: 100% !important; height: auto !important; outline:none; text-decoration:none; -ms-interpolation-mode: bicubic;" />
            <!-- content -->
            <div class="content" style="max-width: 600px !important; margin: 0 auto !important; display: block !important;">
            <table width="100%" style="max-width: 600px !important; margin: auto !important;">
                <tr>
                    <td>
                        <h1 style="font-family: {{font_type}}; font-size: 30px; font-weight: 400; margin-bottom: 15px; color: {{text_color}}; margin: 20px 0 10px; line-height: 1.2; color: {{text_color}};">
E-Brochure
                        </h1>
<p style="font-family: {{font_type}}; margin-bottom: 10px; font-weight: normal; font-size: 14px; color: #777;">
Thank you for requesting your custom e-Brochure! Your e-Brochure is reading for viewing at: {{download_link}}. If you have any questions or need assistance, please give us a buzz.  We're pleased to help.
<br>
<br>
Sincerely,<br>
{{company_name}}<br>
{{company_website}}<br>

</p>

                    </td>
                </tr>
            </table>
            </div>
            <!-- /content -->

        </td>
        <td></td>
    </tr>
</table>
<!-- /body -->

<!-- footer -->
<table class="footer-wrap" style="width: 100%; clear: both !important;">
    <tr>
        <td></td>
        <td class="container" bgcolor="#FFFFFF" style="display: block !important; max-width: 600px !important; margin: 0 auto !important; clear: both !important; padding: 0 20px 20px 20px;">

            <!-- content -->
            <div class="content" style="max-width: 600px; margin: 0 auto; display: block;">
                <table width="100%">
                    <tr>
                        <td align="center" colspan="2">
                            <p style="font-size: 12px; color: #999;">Copyright {{year}} {{company_name}}. All rights reserved.</p>
                        </td>
                    </tr>
                </table>
            </div>
            <!-- /content -->

        </td>
        <td></td>
    </tr>
</table>
<!-- /footer -->

</body>
</html>